<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
  <style type="text/css">
    .block1 {
      color: aliceblue;
    }
  </style>
</head>
<body>
<header style="background:#1d1d25; padding:10px 20px;">
  <table style="width: 100%">
    <th align="left">
      <div class="block1">
        <nobr th:text="${userHEAD.getEmail()}">VALUE</nobr>
        <nobr>with roles: </nobr>
        <nobr th:text="${userHEAD.getRoles()}">VALUE</nobr>
      </div>
    </th>
    <th align="left"><form th:action="@{/user}">
      <input type="submit" value="Home Page">
    </form>
    </th>
    <th align="right"><form th:action="@{/logout}">
      <input type="submit" value="Logout"/>
    </form></th>
  </table>
</header>
<br/>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Enter name</label>
  <input type="text" th:field="*{name}" id="name">
  <br/>
  <label for="age">Enter age</label>
  <input type="number" th:field="*{age}" id="age">
  <br/>
  <label for="email">Enter email</label>
  <input type="text" th:field="*{email}" id="email">
  <br/>
  <label for="password">Enter pass</label>
  <input type="password" th:field="*{password}" id="password">
  <br/>
      <label for="role">Enter role</label>
  <select id="role" th:field="*{roles}">
    <option th:each="role : ${roles}" th:value="${role.id}" th:utext="${role.name}"></option>
  </select>
  <br/>
  <input type="submit" value="Update!">
</form>

</body>
</html>